*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif;
}
.banner-img{
    width: 450px;
    padding-top: 100px;
    
}
.first-main-div{
    
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: rgba(229, 84, 115, 0.10);
    padding: 0 100px;
   
}
.title{
    color: #272727;
    font-size: 50px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    padding-bottom: 20px;
}
.banner-text{
    width: 35%;
}
.description{
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-family: lato;
    line-height: 25px;
    padding-bottom: 20px ;
}
.btn{
    padding-top: 20px;
    display: inline-flex;
    padding: 15px 35px;
    align-items: flex-start;
    gap: 10px;
    border-radius: 8px;
    background: #E55473;
    color: #FFF;
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    border: none;
}
/*first main section finish*/

/*new section start*/
.second-main-div{
    text-align: center;
   
}
.second-main-div{
   padding: 30px 450px;
}
.title2{
    color: #272727;
    text-align: center;
    font-size: 25px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    padding-top:50px ;
    padding-bottom: 20px;
}
.description2{
    color: rgba(39, 39, 39, 0.60);
    justify-content: center;
    font-family:lato;
    font-size: 18px;
    width: 594px;
    flex-direction: column;
    font-weight: 400;
    line-height: 30px;
}
/*seconde main section finish*/

/*new section start*/
.third-main-div{
    display: flex;
    justify-content: space-around;
    width: 1150px;
    padding-left: 180px;
   
}
.banner-img2{
    width:220px;
}
.images1{
    width: 350px;
    height: 330px;
    flex-shrink: 0;
    border-radius: 300px 300px 0px 0px;
    background: rgba(167, 33, 98, 0.15);
    text-align: center;
    padding-top: 50px;
    
}
.images2{
    width: 350px;
    height: 290px;
    flex-shrink: 0;
    border-radius: 300px 300px 0px 0px;
    background: rgba(5, 151, 160, 0.15);
    text-align: center;
    padding-top: 90px;
}
.images3{
    width: 350px;
    height: 330px;
    border-radius: 300px 300px 0px 0px;
    background: rgba(71, 125, 17, 0.15); 
    text-align: center;
    padding-top: 50px;
}
.image-list{
    display: flex;
    padding-top: 20px;
    color: #272727;
    list-style: none;
    font-family: Lato;
    text-decoration-line: underline;
    font-weight: 800;
}
.bottom-pic1{
    padding-left: 290px;
   
}
.bottom-pic2{
    padding-left:295px;
}
.bottom-pic3{
    padding-left: 265px;
}
/*third section finish*/
/*new section start*/

.forth-main-div{
    justify-content: space-around;
    display: flex;
    text-align: center;
    border-radius: 8px;
    background: rgba(39, 39, 39, 0.05);
    width: 1100px;
    height: 220px;   
}
.section4{
    padding-top: 30px;
    padding-left: 200px;
}

.banner-icon{
    width: 50px;
    padding-bottom: 20px;
}
.icon{
    padding: 70px;
    color: rgba(39, 39, 39, 0.80);
    text-align: center;
    font-family: Lato;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
}
/*forth section finish*/
/*new section start*/

.fifth-main-div{
    display: flex;
    border-radius: 8px;
    background: rgba(229, 84, 115, 0.05);
    justify-content: space-between;
    align-items: center;
    padding: 0 300px;
}
.banner-text2{
    width: 50%;
    text-align: center;
    padding-top: 60px;
  
}
.section5{
    padding-top: 80px ;
}
.title3{
    color:black;
    font-family: Lato;
    font-size: 30px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    padding-bottom: 10px;
}
.description3{
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-family: Lato;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 25px;
    padding-bottom: 20px;
}
.banner-img3{
    width: 300px;
}
.rose-image{
    width: 250px;
}
/*sixth section finish*/
/*new section start*/

.section7{
    padding: 20px 165px;
}

.seventh-main-div{
    
    display: flex;
    justify-content: space-around;
}
.banner-img3{
    width: 280px;
}
/*seventh section finish*/
/*new section start*/

.banner-container4{
    position: relative;
    display: inline-block;
}
.text-overlay{
    position: absolute;
    top:50%;
    left:50%
}
.banner-img4{
    width: 1190px;
    
}
.section8{
    padding: 50px;
    padding-bottom: 100px;
}
.container10{
    position: relative;
    text-align: center;
}
.eighth-main-div{
    position: absolute;
    top: 50%;
    left:50%;
    transform: translate(-50%, -50%);
    
}
.images4{
    width: 1190px;
    margin: 0 auto;
}
.eighth-main-div input[type=email]{
    margin-bottom: 25px;
    padding: 15px 150px;
    border: 0;
    border-radius: 5px;
}
.description5{
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-family: Lato;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    padding-bottom: 30px;
}
.title4{
    color: #272727;
    text-align: center;
    font-family: Lato;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    padding-bottom: 10px;
}
/*section finish*/
/*new section start*/

.footer{
    background: #111010;
    height: 350px;
}
.footer-header{
    color: white;
    font-family: Lato;
    font-size: 48px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    text-align: center;
    padding-top: 90px;
}
span{
    color: #E55473;
}
.footer-paragraph{
    color: rgba(255, 255, 255, 0.90);
    text-align: center;
    font-family: Lato;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 25px;
    padding:20px 0;

}
.footer-paragraph2{ 
    color: rgba(255, 255, 255, 0.40);
    text-align: center;
    font-family: Lato;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
